<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="~/Content/html5reset-1.6.1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section id="ed-wrapper">
        <a href="@Url.Content("~/")">
            <div class="ed-header">
                <div class="ed-header-logo">
                    <img src="~/Content/gfx/fcm_logo.png">
                </div>
                <div class="ed-header-description">
                    <div>
                        eDidactic
                    </div>
                </div>
            </div>
        </a>
    </section>
<!-- 
<div class="row panel">
    <div id="categories" class="col-xs-2">
        <nav>
            <ul>
                <li><a href="@Url.Action("List","Course")">Kursy</a></li>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "about"})">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-8">
       
    </div>
</div>
-->
 @RenderBody()
 
<section id="end">
    <div class="ed-footer">
        <div>
            eDidactic &copy; 2017 - Elektroniczny system wspierający edukację
        </div>
    </div>
</section>
@RenderSection("ScriptsBotton", required: false)
</body>
</html>